.bfb1{background-color:#FBFBFB;padding:0 0 20px 0;border-top:#E2E2E2 solid 1px;}

.yjcode .mtop{float:left;text-align:left;width:1150px;padding:0 0 15px 0;background:url(img/header_bg1.png) right center no-repeat;}
.yjcode .mtop .u1{float:left;width:1150px;}
.yjcode .mtop .u1 li{float:left;}
.yjcode .mtop .u1 .l1{margin:15px 0 0 0;width:650px;}
.yjcode .mtop .u1 .l2{width:500px;font-size:16px;color:#686868;margin:37px 0 0 0;text-align:right;}
.yjcode .mtop .u1 .l2 a{color:#ff6600;}
.yjcode .mtop .u1 .l2 a:hover{text-decoration:none;}

.yjcode .regleft{float:left;width:800px;margin:28px 0 0 0;text-align:left;text-align:left;border-right:#D2D2D2 solid 1px;}
.yjcode .regleft .u1{float:left;width:800px;}
.yjcode .regleft .u1 li{float:left;}
.yjcode .regleft .u1 .cap{font-size:22px;color:#555555;padding:0 0 0 90px;width:710px;height:38px;}
.yjcode .regleft .u1 .l1{font-size:14px;width:73px;padding:13px 17px 0 0;height:53px;text-align:right;}
.yjcode .regleft .u1 .l2{width:710px;height:66px;color:#999;}
.yjcode .regleft .u1 .l2 .inp1{float:left;border:#B3B3B3 solid 1px;width:365px;height:38px;background:url(../img/bgcap1.gif) left top repeat-x;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-size:14px;padding:12px 0 0 5px;height:26px;}
.yjcode .regleft .u1 .l2 .inp2{float:left;border:#B3B3B3 solid 1px;width:105px;height:38px;background:url(../img/bgcap1.gif) left top repeat-x;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-size:14px;padding:12px 0 0 5px;height:26px;}
.yjcode .regleft .u1 .l2 .s1{float:left;margin:9px 0 0 10px;}
.yjcode .regleft .u1 .l2 .s2{float:left;clear:both;margin:2px 0 0 0;width:560px;}
.yjcode .regleft .u1 .l2 .img1{cursor:pointer;float:left;margin:0 0 0 10px;}
.yjcode .regleft .u1 .l3{padding:0 0 0 90px;height:50px;width:560px;}
.yjcode .regleft .u1 .l3 input{float:left;border:0;color:#fff;font-weight:700;font-size:14px;cursor:pointer;background:url(../img/btnbg1.gif) left top no-repeat;width:180px;height:36px;}
.yjcode .regleft .u1 .l4{padding:0 0 0 90px;height:30px;width:560px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.yjcode .regleft .u1 .l2 .inp1{padding:0 0 0 5px;height:38px;}
.yjcode .regleft .u1 .l2 .inp2{padding:0 0 0 5px;height:38px;}
}

.yjcode .regright{float:left;width:329px;text-align:left;margin:28px 0 0 20px;}
.yjcode .regright .u1{float:left;width:329px;}
.yjcode .regright .u1 li{float:left;}
.yjcode .regright .u1 .l1{font-size:14px;width:329px;height:30px;color:#444;}

.yjcode .loginleft{float:left;width:598px;padding:20px 0 0 0;height:344px;text-align:left;}
.yjcode .loginright{float:left;width:512px;margin:40px 0 0 40px;text-align:left;}
.yjcode .loginright .u1{float:left;width:512px;}
.yjcode .loginright .u1 li{float:left;}
.yjcode .loginright .u1 .cap{font-size:22px;color:#555555;padding:0 0 0 110px;width:402px;height:58px;}
.yjcode .loginright .u1 .l1{font-size:14px;width:98px;padding:13px 12px 0 0;height:53px;text-align:right;}
.yjcode .loginright .u1 .l2{width:402px;height:66px;color:#999;}
.yjcode .loginright .u1 .l2 .inp1{float:left;border:#B3B3B3 solid 1px;width:393px;height:38px;background:url(../img/bgcap1.gif) left top repeat-x;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-size:14px;padding:12px 0 0 5px;height:26px;}
.yjcode .loginright .u1 .l3{margin:0 0 15px 110px;height:60px;width:302px;border-bottom:#DEDEDE solid 1px;}
.yjcode .loginright .u1 .l3 input{float:left;border:0;color:#fff;font-weight:700;font-size:14px;cursor:pointer;background:url(../img/btnbg2.gif) left top no-repeat;width:118px;height:38px;}
.yjcode .loginright .u1 .l4{height:50px;width:100px;border-bottom:#DEDEDE solid 1px;padding:10px 0 0 0;text-align:right;margin:0 0 15px 0;}
.yjcode .loginright .u1 .l4 a{font-size:14px;color:#ff6600;}
.yjcode .loginright .u1 .l5{width:402px;height:66px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.yjcode .loginright .u1 .l2 .inp1{padding:0 0 0 5px;height:38px;width:400px;}
}

.yjcode .getpassword{float:left;width:1148px;background:url(../img/bgcap4.gif) left top repeat-x;height:34px;margin:10px 0 0 0;border:#ccc solid 1px;}
.yjcode .getpassword .u1{float:left;width:1148px;height:30px;}
.yjcode .getpassword .u1 li{float:left;}
.yjcode .getpassword .u1 .l1{font-size:14px;font-weight:700;text-align:left;padding:10px 0 0 10px;width:622px;}
.yjcode .getpassword .u1 .l2{padding:11px 10px 0 0;text-align:right;width:500px;}
.yjcode .getpassword .u1 .l2 strong{font-size:14px;color:#ff6600;}
.yjcode .getpwdty{float:left;width:1148px;border:#DDDDDD solid 1px;border-top:0;padding:15px 0;min-height:150px;margin:0 0 10px 0;}
.yjcode .getpwdty .u1{float:left;width:835px;margin:50px 0 0 0;text-align:left;padding:0 0 0 314px;}
.yjcode .getpwdty .u1 li{float:left;font-weight:700;font-size:20px;width:270px;padding:13px 0 0 0;height:37px;}
.yjcode .getpwdty .u1 li a:hover{color:#ff6600;text-decoration:none;}
.yjcode .getpwdty .u1 .l1{padding-left:60px;background:url(../img/getp1.gif) left center no-repeat;}
.yjcode .getpwdty .u1 .l2{padding-left:60px;background:url(../img/getp2.gif) left center no-repeat;width:130px;}
.yjcode .getpwdmain{float:left;width:1148px;border:#DDDDDD solid 1px;border-top:0;padding:15px 0;margin:0 0 10px 0;}
.yjcode .getpwdmain .sucts{float:left;width:1066px;margin:15px 0 0 30px;background-color:#FFFDC3;border:#ECA62C solid 1px;padding:9px 10px 5px 10px;line-height:25px;text-align:center;font-size:14px;color:red;}
.yjcode .getpwdmain .u1{float:left;width:1148px;font-family:Arial, Helvetica, sans-serif;margin:1px 0 0 0;}
.yjcode .getpwdmain .u1 li{float:left;}
.yjcode .getpwdmain .u1 .l1{text-align:right;width:355px;font-size:14px;padding:19px 0 0 0;height:31px;}
.yjcode .getpwdmain .u1 .l21{width:793px;text-align:left;padding:19px 0 0 0;height:31px;}
.yjcode .getpwdmain .u1 .l2{width:220px;text-align:left;padding:10px 0 0 0;height:40px;}
.yjcode .getpwdmain .u1 .l2 .btn1{cursor:pointer;float:left;border:0;font-weight:700;color:#fff;background:url(../img/btnbg7.gif) left top no-repeat;width:152px;height:42px;margin-right:10px;}
.yjcode .getpwdmain .u1 .l2 .btn2{cursor:pointer;float:left;border:0;font-weight:700;color:#fff;background:url(../img/btnbg7-1.gif) left top no-repeat;width:152px;height:42px;margin-right:10px;}
.yjcode .getpwdmain .u1 .l3{width:573px;text-align:left;padding:19px 0 0 0;color:#CCCCCC;height:31px;}
.yjcode .getpwdmain .u1 .l4{width:110px;text-align:left;padding:10px 0 0 0;height:40px;}
.yjcode .getpwdmain .u1 .l5{width:110px;text-align:left;padding:12px 0 0 0;height:38px;}
.yjcode .getpwdmain .u1 .l6{padding:10px 0 0 355px;width:718px;}
.yjcode .getpwdmain .u1 .l6 a{float:left;width:122px;height:50px;font-size:18px;padding:12px 0 0 0;height:38px;text-align:center;background:url(../img/getp3.gif) left top no-repeat;}
.yjcode .getpwdmain .u1 .l6 a:hover{text-decoration:none;background:url(../img/getp4.gif) left top no-repeat;}
.yjcode .getpwdmain .inp{float:left;background:url(../img/inputbg.gif) left top repeat-x;height:22px;border:#CCCCCC solid 1px;padding:6px 0 0 4px;font-size:14px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.yjcode .getpwdmain .inp{height:28px;}
}














