.yjcode .jbzl{float:left;margin:10px 0 0 0;width:1150px;text-align:left;border-bottom:#ccc solid 1px;padding:0 0 10px 0;}
.yjcode .jbzl .tpleft{float:left;width:302px;margin-right:20px;}
.yjcode .jbzl .tpleft .d1{float:left;padding:10px;border:#e1e1e1 solid 1px;width:280px;}
.yjcode .jbzl .tpleft .d1 img{border:0;}
.yjcode .jbzl .tpleft .d1 .bigtp{float:left;width:280px;height:280px;}
.yjcode .jbzl .tpleft .d1 .u1{float:left;width:280px;margin:10px 0 0 0;border-top:#C8C8C8 solid 1px;padding:10px 0 0 0;}
.yjcode .jbzl .tpleft .d1 .u1 li{float:left;}
.yjcode .jbzl .tpleft .d1 .u1 .l1{width:280px;}
.yjcode .jbzl .tpleft .d1 .u1 .l1 a{float:left;margin-right:6px;border:#E0E0E0 solid 1px;cursor:pointer;}
.yjcode .jbzl .tpleft .d1 .u1 .l1 a:hover{border:#ff6600 solid 1px;}
.yjcode .jbzl .tpleft .u2{float:left;margin:10px 0 0 0;width:302px;}
.yjcode .jbzl .tpleft .u2 li{float:left;}
.yjcode .jbzl .tpleft .u2 .l1{background:url(../img/icon3.gif) left center no-repeat;height:14px;padding:3px 0 0 20px;}
.yjcode .jbzl .tpleft .u2 .l1 a{color:#999;}
.yjcode .jbzl .jbright{float:left;width:618px;color:#666;}
.yjcode .jbzl .jbright .u0{float:left;width:618px;}
.yjcode .jbzl .jbright .u0 li{float:left;padding:9px 0;}
.yjcode .jbzl .jbright .u0 .l1{width:65px;}
.yjcode .jbzl .jbright .u0 .l2{width:553px;}
.yjcode .jbzl .jbright .u1{float:left;width:618px;border-bottom:#CCCCCC dotted 1px;padding:0 0 12px 0;font-family:Arial, Helvetica, sans-serif;}
.yjcode .jbzl .jbright .u1 li{float:left;}
.yjcode .jbzl .jbright .u1 .l1{width:618px;font-size:14px;font-weight:700;line-height:20px;padding:3px 0 0 0;}
.yjcode .jbzl .jbright .u1 .l2{width:618px;padding:8px 0 0 0;color:#999;}
.yjcode .jbzl .jbright .u2{float:left;width:618px;height:30px;font-family:Arial, Helvetica, sans-serif;margin:10px 0 0 0;}
.yjcode .jbzl .jbright .u2 li{float:left;}
.yjcode .jbzl .jbright .u2 .l1{width:68px;padding:9px 0 0 0;}
.yjcode .jbzl .jbright .u2 .l2{width:180px;padding:4px 0 0 0;font-weight:700;font-size:18px;color:#E4393C;}
.yjcode .jbzl .jbright .u2 .l3{width:220px;padding:9px 0 0 0;}
.yjcode .jbzl .jbright .u3{float:left;width:618px;height:30px;}
.yjcode .jbzl .jbright .u3 li{float:left;}
.yjcode .jbzl .jbright .u3 .l1{width:68px;padding:9px 0 0 0;}
.yjcode .jbzl .jbright .u3 .l2{width:80px;padding:7px 0 0 0;}
.yjcode .jbzl .jbright .u3 .l2 .img1{float:left;}
.yjcode .jbzl .jbright .u3 .l2 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.yjcode .jbzl .jbright .u3 .l3{width:470px;padding:9px 0 0 0;}
.yjcode .jbzl .jbright .u3 .l3 a{color:#005AA0;}
.yjcode .jbzl .jbright .u3 .l3 a:hover{color:#ff6600;text-decoration:none;}
.yjcode .jbzl .jbright .u5{float:left;width:618px;}
.yjcode .jbzl .jbright .u5 li{float:left;}
.yjcode .jbzl .jbright .u5 .l1{width:68px;padding:9px 0 0 0;}
.yjcode .jbzl .jbright .u5 .l2{width:550px;}
.yjcode .jbzl .jbright .u5 .l2 .s1{margin:6px 0 0 0;float:left;color:#fff;border:#D20505 solid 1px;padding:1px;background-color:#FD3F25;border-right:0;}
.yjcode .jbzl .jbright .u5 .l2 .s2{margin:6px 0 0 0;float:left;color:#FC1C11;border:#D20505 solid 1px;padding:1px 2px 1px 1px;background-color:#FEEF00;border-left:0;}
.yjcode .jbzl .jbright .u5 .l3{padding:10px 0 8px 63px;font-size:14px;font-weight:700;color:#F78E22;}
.yjcode .jbzl .jbright .uts{float:left;width:618px;background-color:#fff;margin:7px 0 0 0;}
.yjcode .jbzl .jbright .uts li{float:left;}
.yjcode .jbzl .jbright .uts .l2{width:68px;padding:9px 0 0 0;height:20px;background-color:#fff;border-bottom:#DCDCDC solid 1px;}
.yjcode .jbzl .jbright .uts .l3{border:#DCDCDC solid 1px;border-bottom:#fff solid 1px;background-color:#fff;width:28px;height:28px;cursor:pointer;}
.yjcode .jbzl .jbright .uts .l31{border:#fff solid 1px;border-bottom:#DCDCDC solid 1px;}
.yjcode .jbzl .jbright .uts .l30{height:29px;background-color:#fff;border-bottom:#DCDCDC solid 1px;}
.yjcode .jbzl .jbright .uts .l4{padding:10px 0 0 27px;height:22px;background-color:#fff;border:#DCDCDC solid 1px;width:589px;border-top:0;}
.yjcode .jbzl .jbright .uts #serdb{background:url(../img/bao.gif) left center no-repeat;}
.yjcode .jbzl .jbright .uts #serfh{background:url(../img/fh.gif) left center no-repeat;}
.yjcode .jbzl .jbright .u6{float:left;width:618px;margin:6px 0 0 0;}
.yjcode .jbzl .jbright .u6 li{float:left;}
.yjcode .jbzl .jbright .u6 .l1{width:68px;padding:9px 0 0 0;}
.yjcode .jbzl .jbright .u6 .l2{width:50px;padding:4px 0 0 0;}
.yjcode .jbzl .jbright .u6 .l2 input{float:left;width:40px;height:16px;padding:4px 0 0 0;border:#ddd solid 1px;text-align:center;font-weight:700;}
.yjcode .jbzl .jbright .u6 .l3{padding:9px 0 0 0;width:500px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.yjcode .jbzl .jbright .u6 .l2 input{height:20px;padding:0;}
}
.yjcode .jbzl .jbright .u4{float:left;margin:10px 0 0 0;width:618px;}
.yjcode .jbzl .jbright .u4 li{float:left;}
.yjcode .jbzl .jbright .u4 .l1{width:618px;}
.yjcode .jbzl .jbright .u4 .l1 a{float:left;width:127px;height:37px;margin:0 10px 0 0;}
.yjcode .jbzl .jbright .u4 .l1 .buy{background:url(../img/buy1.gif) left top no-repeat;}
.yjcode .jbzl .jbright .u4 .l1 .buy:hover{background:url(../img/buy2.gif) left top no-repeat;}
.yjcode .jbzl .jbright .u4 .l1 .car{background:url(../img/car1.gif) left top no-repeat;width:132px;}
.yjcode .jbzl .jbright .u4 .l1 .car:hover{background:url(../img/car2.gif) left top no-repeat;}
.yjcode .jbzl .jbright .u4 .l1 .carok{background:url(../img/car3.gif) left top no-repeat;width:132px;}
.yjcode .jbzl .jbright .u4 .l1 .ysweb{background:url(../img/ys1.jpg) left top no-repeat;width:95px;}
.yjcode .jbzl .jbright .u4 .l1 .ysweb:hover{background:url(../img/ys2.jpg) left top no-repeat;}
.yjcode .jbzl .jbuser{float:left;width:200px;margin:0 0 0 10px;}
.yjcode .jbzl .jbuser .u1{float:left;width:200px;}
.yjcode .jbzl .jbuser .u1 li{float:left;}
.yjcode .jbzl .jbuser .u1 .l1{width:200px;}
.yjcode .jbzl .jbuser .d1{float:left;width:168px;border:#FFE2A3 solid 1px;border-top:0;padding:0 10px 10px 20px;}
.yjcode .jbzl .jbuser .d1 h3{float:left;width:168px;padding:14px 0 0 0;font-size:12px;}
.yjcode .jbzl .jbuser .d1 .du0{float:left;width:168px;margin:10px 0 0 0;}
.yjcode .jbzl .jbuser .d1 .du0 li{float:left;}
.yjcode .jbzl .jbuser .d1 .du0 .l1{width:40px;}
.yjcode .jbzl .jbuser .d1 .du0 .l2{width:128px;}
.yjcode .jbzl .jbuser .d1 .du1{float:left;width:168px;margin:10px 0 0 0;}
.yjcode .jbzl .jbuser .d1 .du1 li{float:left;}
.yjcode .jbzl .jbuser .d1 .du1 .l1{width:40px;}
.yjcode .jbzl .jbuser .d1 .du1 .l2{width:128px;}
.yjcode .jbzl .jbuser .d1 .du2{float:left;width:168px;margin:10px 0 0 0;}
.yjcode .jbzl .jbuser .d1 .du2 li{float:left;}
.yjcode .jbzl .jbuser .d1 .du2 .l1{width:40px;padding:5px 0 0 0;}
.yjcode .jbzl .jbuser .d1 .du2 .l2{width:128px;}
.yjcode .jbzl .jbuser .d1 .du3{float:left;width:168px;margin:15px 0 0 0;border-top:#E1E1E1 dotted 1px;}
.yjcode .jbzl .jbuser .d1 .du3 li{float:left;width:42px;height:31px;border-right:#EBEBEB solid 1px;margin:13px 18px 0 0;font-family:Arial, Helvetica, sans-serif;line-height:16px;}
.yjcode .jbzl .jbuser .d1 .du3 .l0{border-right:0;margin-right:0;}
.yjcode .jbzl .jbuser .d1 .du4{float:left;width:168px;margin:15px 0 0 0;}
.yjcode .jbzl .jbuser .d1 .du4 li{float:left;}
.yjcode .jbzl .jbuser .d1 .du4 li a{float:left;width:74px;padding:8px 0 0 0;height:20px;border:#EDEDED solid 1px;background-color:#FAFAFA;text-align:center;}
.yjcode .jbzl .jbuser .d1 .du4 li a:hover{text-decoration:none;color:#ff6600;background-color:#F2F1F1;}
.yjcode .jbzl .jbuser .d1 .du4 .l1{width:81px;}
.yjcode .jbzl .jbuser .d1 .du4 .l2{width:81px;}

.yjcode .psel{float:left;border:#E0E0E0 solid 1px;width:1148px;margin:10px 0 0 0;padding:0 0 8px 0;text-align:left;}
.yjcode .psel .u1{float:left;width:1148px;background-color:#F8F8F8;height:35px;}
.yjcode .psel .u1 li{float:left;}
.yjcode .psel .u1 .l1{padding:12px 0 0 10px;width:1038px;height:23px;}
.yjcode .psel .u1 .l2{padding:12px 0 0 20px;height:23px;background:url(../img/ss.gif) left center no-repeat;}
.yjcode .psel .u2{margin:0 0 0 12px;float:left;width:1124px;border-top:EAEAEA solid 1px;padding:0 0 9px 0;}
.yjcode .psel .u2 li{float:left;}
.yjcode .psel .u2 .l1{width:65px;color:#666;padding:12px 10px 0 0;text-align:right;font-weight:700;}
.yjcode .psel .u2 .l2{width:55px;padding:12px 0 0 0;}
.yjcode .psel .u2 .l3{width:994px;line-height:25px;padding:8px 0 0 0;}
.yjcode .psel .u2 li a{float:left;color:#333;margin:0 30px 0 0;}
.yjcode .psel .u2 li a:hover{color:#FF753D;text-decoration:none;}
.yjcode .psel .u2 li .ax{color:#FF753D;text-decoration:none;}

.yjcode .nser{float:left;background-color:#F9F9F9;border:#E1E1E1 solid 1px;border-top:0;width:1148px;text-align:left;}
.yjcode .nser .u1{float:left;width:1148px;}
.yjcode .nser .u1 li{float:left;}
.yjcode .nser .u1 .l1{width:75px;text-align:right;color:#808080;padding:8px 0 7px 0;}
.yjcode .nser .u1 .l2{width:1070px;}
.yjcode .nser .u1 .l2 .s1{float:left;}
.yjcode .nser .u1 .l2 .s1 a{color:#808080;border:#FFBC89 solid 1px;padding:0 23px 0 6px;height:16px;background:url(../img/serclose1.gif) right center no-repeat;margin:7px 4px 0 0;background-color:#fff;float:left;}
.yjcode .nser .u1 .l2 .s2{float:left;}
.yjcode .nser .u1 .l2 .s2 a{color:#808080;border:#FF8040 solid 1px;padding:0 23px 0 6px;height:16px;background:url(../img/serclose2.gif) right center no-repeat;margin:7px 4px 0 0;background-color:#fff;float:left;}
.yjcode .nser .u1 .l2 .s2 a:hover{text-decoration:none;}

.yjcode .left{float:left;width:200px;text-align:left;}
.yjcode .left .u1{float:left;width:198px;border:#ddd solid 1px;margin:10px 0 0 0;}
.yjcode .left .u1 li{float:left;}
.yjcode .left .u1 .l1{font-size:14px;font-weight:700;background:url(../img/bgcap4.gif) left  top repeat-x;height:23px;width:188px;padding:9px 0 0 10px;}
.yjcode .left .u1 .l2{width:188px;padding:5px 5px 0 5px;height:61px;line-height:18px;border-top:#dddddd dotted 1px;}
.yjcode .left .u1 .l2 img{border:#ddd solid 1px;padding:2px;margin:0 8px 0 0;}
.yjcode .left .u1 .l2 a{color:#247FBD;}
.yjcode .left .u1 .l2 a:hover{color:#ff6600;}

.yjcode .right{float:left;text-align:left;margin:0 0 0 20px;width:930px;}
.yjcode .right .ucap{float:left;width:929px;background-color:#F6F6F6;margin:10px 0 0 0;border-left:#E5E5E5 solid 1px;}
.yjcode .right .ucap li{float:left;border-right:#E5E5E5 solid 1px;width:126px;height:25px;padding:11px 0 0 0;text-align:center;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
.yjcode .right .ucap .l0{border-top:#E5E5E5 solid 1px;border-bottom:#E5E5E5 solid 1px;cursor:pointer;}
.yjcode .right .ucap .l1{border-top:#ff6600 solid 2px;background-color:#fff;cursor:pointer;}
.yjcode .right .ucap .l2{border-top:#E5E5E5 solid 1px;border-bottom:#E5E5E5 solid 1px;width:674px;}
.yjcode .right .viewtxt{float:left;width:925px;padding:15px 0 0 5px;line-height:23px;}
.yjcode .right .viewtxt img{max-width:925px;}

.yjcode .right .pjcap{float:left;width:928px;margin:10px 0 0 0;border:#E5E5E5 solid 1px;padding:0 0 10px 0;}
.yjcode .right .pjcap li{float:left;}
.yjcode .right .pjcap .l1{width:918px;height:25px;border-bottom:#E5E5E5 dotted 1px;padding:10px 0 0 10px;font-size:14px;font-weight:700;background-color:#F6F6F6;}
.yjcode .right .pjcap .l2{border-right:#E5E5E5 dotted 1px;width:120px;margin:10px 0 0 0;height:40px;text-align:center;color:#999;line-height:20px;}
.yjcode .right .pjcap .l2 strong{color:#FF6600;font-size:18px;font-family:Arial, Helvetica, sans-serif;}
.yjcode .right .pjcap .l3{width:430px;}
.yjcode .right .pjcap .l3 a{float:right;margin:18px 0 0 0;background:url(../img/btnbg4.gif) left top no-repeat;width:113px;height:19px;text-align:center;padding:6px 0 0 0;}
.yjcode .right .pjcap .l3 a:hover{color:#ff6600;}
.yjcode .right .pj{float:left;width:930px;margin:10px 0 0 0;}
.yjcode .right .pj .pjleft{width:100px;float:left;}
.yjcode .right .pj .pjleft .u1{float:left;width:100px;}
.yjcode .right .pj .pjleft .u1 li{float:left;}
.yjcode .right .pj .pjleft .u1 .l1{height:57px;width:100px;padding:7px 0 0 0;text-align:center;background:url(../img/txbg.gif) center top no-repeat;}
.yjcode .right .pj .pjleft .u1 .l2{width:70px;text-align:center;padding:5px 15px 0 15px;color:#005AA0;}
.yjcode .right .pj .pjright{width:830px;float:left;}
.yjcode .right .pj .pjright .u1{float:left;width:830px;background:url(../img/pjbg.gif) left top no-repeat;height:36px;}
.yjcode .right .pj .pjright .u1 li{float:left;}
.yjcode .right .pj .pjright .u1 .l1{width:80px;height:28px;padding:8px 0 0 30px;}
.yjcode .right .pj .pjright .u1 .l1 .img1{float:left;}
.yjcode .right .pj .pjright .u1 .l1 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.yjcode .right .pj .pjright .u1 .l2{width:705px;height:26px;color:#9C9A9C;padding:10px 15px 0 0;text-align:right;}
.yjcode .right .pj .pjright .u2{float:left;margin:0 0 0 12px;width:816px;border:#D0E4C2 solid 1px;border-top:0;background-color:#FCFFFA;}
.yjcode .right .pj .pjright .u2 li{float:left;line-height:18px;}
.yjcode .right .pj .pjright .u2 .l1{padding:15px;width:786px;color:#666;}
.yjcode .right .pj .pjright .u2 .l2{margin:0 0 0 15px;width:786px;padding:10px 0;border-top:#F6E6C5 dotted 1px;color:#ff6600;}
.yjcode .right .allpj{float:left;width:930px;margin:10px 0 0 0;text-align:right;}
.yjcode .right .allpj a{color:#005AA0;}

.yjcode .pjvleft{float:left;width:200px;text-align:left;margin:10px 0 0 0;}
.yjcode .pjvleft .u1{float:left;width:198px;border:#ddd solid 1px;}
.yjcode .pjvleft .u1 li{float:left;}
.yjcode .pjvleft .u1 .l1{width:188px;background-color:#F7F7F7;height:26px;font-size:14px;padding:4px 0 0 10px;}
.yjcode .pjvleft .u1 .l2{padding:10px 10px 10px 10px;width:178px;line-height:18px;}
.yjcode .pjvleft .u1 .l2 a{color:#666;}
.yjcode .pjvleft .u1 .l2 img{margin:0 0 6px 0;}
.yjcode .pjvleft .u1 .l3{color:#999;line-height:20px;width:178px;padding:0 10px;font-family:Arial, Helvetica, sans-serif;}
.yjcode .pjvleft .u1 .l4{width:163px;padding:10px 0 10px 35px;}
.yjcode .pjvleft .u1 .l4 a{float:left;width:127px;height:37px;background:url(../img/buy1.gif) left top no-repeat;}
.yjcode .pjvleft .u1 .l4 a:hover{background:url(../img/buy2.gif) left top no-repeat;}

.yjcode .listr{float:left;width:1150px;margin:10px 0 0 0;text-align:left;}

.yjcode .listr .propx{float:left;text-align:left;width:1150px;}
.yjcode .listr .propx .u1{float:left;width:1150px;height:30px;border-bottom:#FF6A2F solid 2px;}
.yjcode .listr .propx .u1 li{float:left;}
.yjcode .listr .propx .u1 .l1{width:710px;}
.yjcode .listr .propx .u1 .l1 a{float:left;width:100px;height:30px;padding:4px 0 0 0;height:25px;margin:0 0 0 10px;background-color:#fff;border:#DDDBDB solid 1px;border-bottom:0;font-size:14px;text-align:center;}
.yjcode .listr .propx .u1 .l1 .a1{color:#fff;background-color:#FF6A2F;}
.yjcode .listr .propx .u1 .l2{width:440px;padding:4px 0 0 0;}
.yjcode .listr .propx .u1 .l2 a{float:right;width:100px;height:20px;padding:3px 0 0 0;text-align:center;color:#fff;background-color:#FF9900;text-decoration:none;}
.yjcode .listr .propx .u2{float:left;width:1149px;height:34px;background-color:#fff;border-left:#dddbdb solid 1px;}
.yjcode .listr .propx .u2 li{float:left;}
.yjcode .listr .propx .u2 .l1{float:left;width:224px;}
.yjcode .listr .propx .u2 .l1 a{float:left;width:55px;height:25px;padding:8px 0 0 0;border-right:#dddbdb solid 1px;border-bottom:#dddbdb solid 1px;text-align:center;}
.yjcode .listr .propx .u2 .l1 .a1{border-bottom:#fff solid 1px;color:#ff6600;}
.yjcode .listr .propx .u2 .l1 a:hover{color:#ff6600;text-decoration:none;}
.yjcode .listr .propx .u2 .l2{border-bottom:#dddbdb solid 1px;height:28px;width:20px;padding:5px 0 0 10px;}
.yjcode .listr .propx .u2 .l3{border-bottom:#dddbdb solid 1px;height:25px;width:60px;padding:8px 0 0 0;}
.yjcode .listr .propx .u2 .l4{padding:8px 0 0 20px;width:40px;border-bottom:#dddbdb solid 1px;height:25px;}
.yjcode .listr .propx .u2 .l5{padding:7px 0 0 0;width:40px;border-bottom:#dddbdb solid 1px;height:26px;}
.yjcode .listr .propx .u2 .l5 input{float:left;border:#b5b5b5 solid 1px;width:32px;height:17px;}
.yjcode .listr .propx .u2 .l6{padding:7px 0 0 0;width:15px;border-bottom:#dddbdb solid 1px;height:26px;}
.yjcode .listr .propx .u2 .l7{padding:8px 0 0 20px;width:52px;border-bottom:#dddbdb solid 1px;height:25px;}
.yjcode .listr .propx .u2 .l8{padding:7px 0 0 10px;width:145px;border-bottom:#dddbdb solid 1px;height:26px;}
.yjcode .listr .propx .u2 .l8 input{float:left;border:#b5b5b5 solid 1px;width:132px;height:17px;}
.yjcode .listr .propx .u2 .l9{width:50px;padding:6px 0 0 0;height:27px;border-bottom:#dddbdb solid 1px;}
.yjcode .listr .propx .u2 .l9 input{float:left;background:url(../img/btnbg8.gif) left top no-repeat;width:41px;height:20px;border:0;cursor:pointer;}
.yjcode .listr .propx .u2 .l10{border-bottom:#EDECEC solid 1px;height:33px;width:130px;}
.yjcode .listr .propx .u2 .l10 a{float:right;margin:7px 0 0 10px;width:27px;border:#ccc solid 1px;height:17px;padding:0 3px 0 17px;background:url(../img/px1.gif) no-repeat;background-position:4px 4px;}
.yjcode .listr .propx .u2 .l10 a:hover{text-decoration:none;}
.yjcode .listr .propx .u2 .l10 .a1{background:url(../img/px2.gif) no-repeat;background-position:4px 4px;color:#ff6600;}
.yjcode .listr .propx .u2 .l11{border-bottom:#EDECEC solid 1px;height:25px;width:183px;padding:8px 0 0 0;text-align:right;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.yjcode .listr .propx .u2 .l2{padding:9px 0 0 10px;height:24px;}
.yjcode .listr .propx .u2 .l5 input{height:19px;}
.yjcode .listr .propx .u2 .l8 input{height:19px;}
}

.yjcode .listr .l{float:left;width:1150px;}
.yjcode .listr .l .lv{float:left;padding:3px;width:220px;margin:10px 5px 0 0;}
.yjcode .listr .l .lv .u1{float:left;width:210px;border:#F5F5F5 solid 1px;padding:4px 4px 0 4px;height:335px;}
.yjcode .listr .l .lv .u1 li{float:left;}
.yjcode .listr .l .lv .u1 .l1{width:210px;height:210px;}
.yjcode .listr .l .lv .u1 .l2{color:#CC0000;padding:7px 0 0 0;height:30px;font-size:14px;font-weight:700;}
.yjcode .listr .l .lv .u1 .l2 strong{font-size:20px;font-weight:100;}
.yjcode .listr .l .lv .u1 .l3{height:38px;width:210px;line-height:18px;}
.yjcode .listr .l .lv .u1 .l3 a:hover{color:#CC0000;}
.yjcode .listr .l .lv .u1 .l4{width:210px;height:20px;border-bottom:#EEEEEE solid 1px;}
.yjcode .listr .l .lv .u1 .l5{padding:6px 0 0 0;width:80px;border-right:#eee solid 1px;height:23px;}
.yjcode .listr .l .lv .u1 .l6{padding:6px 0 0 4px;width:75px;border-right:#eee solid 1px;height:23px;}
.yjcode .listr .l .lv .u1 .l7{padding:2px 0 0 0;width:47px;text-align:center;height:27px;}
.yjcode .listr .l .lv1{padding:0;width:226px;}
.yjcode .listr .l .lv1 .u1{border:#FF6600 solid 4px;}
.yjcode .listr .l .lv0{margin-right:0;}

.yjcode .listr .listcap{float:left;width:1150px;height:26px;color:#999;background-color:#f2f2f2;}
.yjcode .listr .listcap li{float:left;padding-top:8px;text-align:center;}
.yjcode .listr .listcap .l0{width:120px;}
.yjcode .listr .listcap .l1{width:715px;}
.yjcode .listr .listcap .l2{width:95px;}
.yjcode .listr .listcap .l3{width:100px;}
.yjcode .listr .listcap .l4{width:115px;text-align:right;padding-right:5px;}
.yjcode .listr .list{float:left;width:1150px;padding:10px 0 10px 0;border-top:#EEEEEE solid 1px;}
.yjcode .listr .list li{float:left;}
.yjcode .listr .list .l0{width:120px;background:url(../img/bg1.gif) center top no-repeat;height:106px;padding:6px 0 0 0;text-align:center;}
.yjcode .listr .list .l1{width:705px;line-height:24px;padding:0 0 0 10px;color:#666;}
.yjcode .listr .list .l1 .a1{color:#0066CC;font-size:14px;font-weight:700;}
.yjcode .listr .list .l1 .a1:hover{color:#ff6600;}
.yjcode .listr .list .l2{width:95px;text-align:center;font-family:Arial, Helvetica, sans-serif;}
.yjcode .listr .list .l2 strong{color:#ff6600;font-weight:700;font-size:18px;}
.yjcode .listr .list .l3{width:100px;text-align:center;padding:3px 0 0 0;font-family:Arial, Helvetica, sans-serif;}
.yjcode .listr .list .l4{width:115px;padding:2px 5px 0 0;}
.yjcode .listr .list .l4 .inp1{float:right;background:url(../img/btnbg5.gif) left top no-repeat;border:0;width:87px;height:26px;color:#0063DC;cursor:pointer;}
.yjcode .listr .list .l4 .inp11{background:url(../img/btnbg51.gif) left top no-repeat;}
.yjcode .listr .list .l4 .inp2{float:right;background:url(../img/btnbg6.gif) left top no-repeat;border:0;width:87px;height:26px;color:#fff;cursor:pointer;margin:15px 0 0 0;}
.yjcode .listr .list .l4 .inp21{background:url(../img/btnbg61.gif) left top no-repeat;}
.yjcode .listr .list1{background-color:#FBFBFB;}

.bfbbot{margin:10px 0 0 0;}













