/*大图模式列表页*/

.squares .list_pic { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; width: 1000px; margin-left: -16px;}

.squares .list_pic li { font-size: 12px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/;  width: 238px; height: 375px; margin: 12px 0 0 12px; *zoom:1;}

.squares .goods-content { line-height: 18px; background-color: #FFF; width: 230px; height: 370px; margin: 3px; border: solid 1px #F0F0F0; border-radius: 2px; position:relative; z-index: 11; overflow: hidden; box-shadow: 0 0 3px rgba(153,153,153,0.1); transition: border-color 0.4s ease-in-out 0s;}

.squares .goods-content:hover { z-index: 12;}

.squares .goods-pic { background: #FFF; width: 220px; height: 220px; padding: 5px 5px 0 5px; margin: 0; z-index: 1; top: 0; left: 0;}

.squares .goods-pic a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 220px; height: 220px; overflow: hidden;}

.squares .goods-pic img { max-width: 220px; max-height: 220px; margin-top: expression( 220-this.height/2); *margin-top:expression(110-this.height/2)/*IE6,7*/;}

.squares .goods-info { width: 230px; margin: 0; position: absolute; z-index: 1; left: 0; top: 230px;}

.squares .goods-pic-scroll-show { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');background:rgba(255,255,255,0.9); width: 210px; height: 30px; padding: 5px 10px;}

.squares .goods-pic-scroll-show ul { font-size: 0; *word-spacing: -1px/*IE6、7*/; width: 180px; height: 30px;}

.squares .goods-pic-scroll-show ul li { vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 30px; height: 30px; margin: 0 5px 0 0; *zoom:1;}

.squares .goods-pic-scroll-show ul li a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 28px; height: 28px; padding: 0; border: solid 1px #EEE; overflow: hidden;}

.squares .goods-pic-scroll-show ul li.selected a,

.squares .goods-pic-scroll-show ul li a:hover { border-color: #D93600; transition: border-color 0.4s ease-in-out 0s;}

.squares .goods-pic-scroll-show ul li img { max-width: 28px; max-height: 28px; margin-top:expression(28-this.height/2); *margin-top:expression(14-this.height/2)/*IE6,7*/;}

.squares .goods-promotion { font: 700 12px/15px "microsoft yahei"; color: #FFF; background: url(../images/2014shop_background_img.png) no-repeat 0 -100px; text-align: center; width: 30px; height: 30px; padding: 20px 9px 15px 9px; position: absolute; z-index: 2; top: 5px; right: 5px;}

.squares .goods-price { font: 12px/20px Arial; color: #C00; background-color: #FFF; white-space: nowrap; display: block; height: 20px; padding: 5px 10px; overflow: hidden;}

.squares .goods-price em.sale-price { font-size: 16px; font-weight: 600; text-overflow: ellipsis; white-space: nowrap; max-width:70px; float: left; overflow: hidden;}

.squares .goods-price em.market-price { color: #999; text-decoration: line-through; text-overflow: ellipsis; white-space: nowrap; max-width:50px; float: left; margin-left: 10px; overflow: hidden;}

/* 评价评分样式 */

.squares .goods-price .raty { font-size: 0; line-height: 0; *word-spacing:-1px/*IE6、7*/; float: right;}

.squares .goods-price .raty img { letter-spacing: normal; word-spacing: normal; display: inline-block; width: 16px; height: 16px; margin: 2px 0;}



.squares .goods-name { font-size: 12px; line-height: 16px; color: #999; background-color: #FFF; height: 32px; display: block; padding: 0 10px; overflow: hidden;}

.squares .goods-name em { color: #F30;}

.squares .goods-sub { font-size: 0; *word-spacing: -1px/*IE6、7*/;  height: 24px; padding: 5px 10px 10px; }

.squares .goods-sub span { font-size: 12px; font-family: "microsoft yahei"; color: #FFF; line-height: 24px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; height: 24px; padding: 0 4px; margin-right: 4px; border-radius: 2px; *zoom:1; cursor: pointer;}

.squares .goods-sub span.virtual { background-color: #3598DC;}

.squares .goods-sub span.fcode { background-color: #9C59B8;}

.squares .goods-sub span.presell { background-color: #1ABC9D;}

.squares .goods-sub span.gift { background-color: #F30;}

.squares .goods-sub .goods-compare { line-height: 20px; color: #999; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF'); background:rgba(255,255,255,0.9); height: 20px; float: right; padding: 1px 5px; margin: 0; border: solid 1px #EEE; cursor: pointer;}

.squares .goods-sub .goods-compare.selected { color: #FFF; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5D93600', endColorstr='#E5D93600');background:rgba(217,54,0,0.9); border-color: #D93600;}

.squares .goods-sub .goods-compare i { background:url(../images/2014shop_background_img.png) no-repeat -50px -100px; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 12px; height: 12px; margin-right: 4px; *zoom: 1;}

.squares .goods-sub .goods-compare.selected i { background-position: -70px -100px;}



.clear { clear: both; height: 0; font-size: 0; line-height:0; }

.squares .sell-stat { width: 212px; margin: 0 auto; border-top: solid 1px #EEE; overflow: hidden;}

.squares .sell-stat ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 213px; margin-left: -1px;}

.squares .sell-stat ul li { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE6,7*/; width: 60px; height: 40px; padding: 5px; margin: 0; border-left: solid 1px #EEE; overflow: hidden; *zoom:1;}

.squares .sell-stat ul li a { font: 600 12px/20px Tahoma; color: #B57C5B;}

.squares .sell-stat ul li a.status { color: #3388BB;}

.squares .sell-stat ul li p { line-height: 20px; color: #999; height: 20px;}

.squares .store { line-height: 20px; background-color: #F5F5F5; text-align: center; display: block; height: 20px; clear: both; padding: 8px 0; border-top: solid 1px #EEE;}

.squares .add-cart { display: block;}

.squares .add-cart a { font-weight: 600; font-size: 14px; line-height: 20px; color: #F5CDBF; text-shadow: -2px 0 0 rgba(0,0,0,0.05); background-color: #D93600; text-align: center; display: block; height: 20px; padding: 8px 0;}

.squares .add-cart a i { margin-right: 4px;}

.squares .add-cart a:hover { color: #FFF; text-decoration: none;}

.squares li:hover .goods-content { height: 445px; margin: 0; border: solid 4px #D93600; border-radius: 0; box-shadow: 0px 4px 4px rgba(102,102,102,0.65);}





.squares .list_pic dl dd.promotion-price { width:65px; }

.squares .list_pic dl dd.price span, .squares .list_pic dl dd.promotion-price span { font-family:Tahoma; font-size: 16px; font-weight: 600; color: #F30; margin-left:2px; _margin-left:1px;}

.squares .list_pic dl dd.del-price { line-height:20px; color: #AAA; text-decoration:line-through; width:35px; z-index:2; top:230px; left:80px;}

.squares .list_pic dl dd.freight { color: #666; width: 65px; text-align:right; z-index:1; top:270px; right:12px;}

.squares .list_pic dl dd.shop { line-height: 21px; width: 105px; z-index:2; top:258px; left:12px;}

.squares .list_pic dl dd.shop a.name { text-align: left; display: inline-block; max-width: 75px; float: left; text-overflow: ellipsis; white-space: nowrap; overflow:hidden;}

.squares .list_pic dl dd.shop a.chat { overflow: visible; float: left;}

.squares .list_pic dl dd.location { color: #666; width: 65px; text-align:right; z-index:1; top:258px; right:12px;}

.squares .list_pic dl dd.promotion {position: absolute; z-index:2; top:280px; left:12px;}

.squares .list_pic dl dd.promotion span { line-height:16px; color:#FFF; text-align:center; display:inline-block; height: 16px; float:left; padding: 1px 4px; border-radius:2px; box-shadow: 1px 1px 1px rgba(0,0,0,0.2);}

.squares .list_pic dl dd.promotion .gb { background-color: #C00;}

.squares .list_pic dl dd.promotion .xs { background-color: #6C9D26;}

.squares .list_pic dl dd.seller-intro { z-index:2; top:305px; left:12px; width:170px;}

.squares .list_pic dl dd.seller-intro ul { margin:0; padding:0; padding-bottom:2px!important; border: dotted 1px #A7CAED; background-color:#F4FAFE; overflow:hidden;}

.squares .list_pic dl dd.seller-intro ul li { margin:2px 4px; padding:0; line-height:16px; height:16px; width:155px;}

.squares .list_pic dl dd.seller-intro ul li span { float:left;}

.no-results { color: #AAA; padding: 200px 0; text-align: center;}





/* ============ */

/* 列表页面筛选条 */

/* ============ */





.sort-bar { background: #F7F7F7; display: block; height: 36px; border: solid 1px #D7D7D7; }





/* 商品列表排序方式 */

.nch-all-category { vertical-align: top; display: none; width: 210px; height: 36px;}








































