.bfb1{background-color:#FBFBFB;padding:0 0 20px 0;border-top:#E2E2E2 solid 1px;}

/*Ö÷Ò³*/
.yjcode .ileft{float:left;width:850px;text-align:left;}
.yjcode .ileft .indextop{float:left;width:850px;margin:10px 0 0 0;background:url(img/indextop.gif) left top no-repeat;height:104px;}
.yjcode .ileft .indextop .u1{float:left;margin:17px 0 0 50px;width:800px;}
.yjcode .ileft .indextop .u1 li{float:left;}
.yjcode .ileft .indextop .u1 .l1{width:60px;text-align:center;padding:3px 0 0 0;}
.yjcode .ileft .indextop .u1 .l1 .s1{float:left;width:60px;}
.yjcode .ileft .indextop .u1 .l1 .s2{float:left;width:60px;font-size:27px;color:#666;padding:5px 0 0 0;font-weight:700;font-family:Arial, Helvetica, sans-serif;}
.yjcode .ileft .indextop .u1 .l2{width:670px;text-align:center;line-height:32px;color:#666;padding:0 0 0 10px;}
.yjcode .ileft .indextop .u1 .l2 .a1{font-size:22px;font-weight:700;color:#ff6600;}
.yjcode .ileft .indextop .u1 .l2 .a2{color:#2C62D7;}
.yjcode .ileft .ilist{float:left;border:#E8E8E8 solid 1px;width:848px;background-color:#fff;margin:10px 0 0 0;padding:0 0 20px 0;}
.yjcode .ileft .ilist .u1{float:left;width:848px;height:40px;background:url(../img/bgcap.gif) left top repeat-x;border-bottom:#DDDDDD solid 1px;}
.yjcode .ileft .ilist .u1 li{float:left;}
.yjcode .ileft .ilist .u1 .l1{font-size:19px;font-weight:700;width:362px;padding:7px 0 0 10px;}
.yjcode .ileft .ilist .u1 .l2{width:466px;padding:14px 10px 0 0;text-align:right;}
.yjcode .ileft .ilist .d1{float:left;width:500px;padding:20px 0 0 20px;color:#F75D00;line-height:26px;}
.yjcode .ileft .ilist .d1 a{font-size:14px;color:#666;}
.yjcode .ileft .ilist .d2{float:left;margin:20px 0 0 0;text-align:center;width:300px;font-weight:700;}
.yjcode .ileft .ilist .d2 img{margin:0 0 10px 0;}
.yjcode .iright{float:left;margin:10px 0 0 10px;width:290px;text-align:left;}
.yjcode .iright .qh{float:left;width:290px;height:200px;}
.yjcode .iright .qh .container{width:290px; height:200px; overflow:hidden;position:relative;}
.yjcode .iright .qh .slider{position:absolute;}
.yjcode .iright .qh .slider li{ list-style:none;display:inline;}
.yjcode .iright .qh .slider img{ width:290px; height:200px; display:block;}
.yjcode .iright .qh .slider2{width:2000px;}
.yjcode .iright .qh .slider2 li{float:left;}
.yjcode .iright .qh .num{ position:absolute; right:5px; bottom:5px;}
.yjcode .iright .qh .num li{float: left;color: #FF7300;text-align: center;line-height: 16px;width: 16px;height: 16px;font-family: Arial;font-size: 12px;cursor: pointer;overflow: hidden;margin: 3px 1px;border: 1px solid #FF7300;background-color: #fff;}
.yjcode .iright .qh .num li.on{color: #fff;line-height: 21px;width: 21px;height: 21px;font-size: 16px;margin: 0 1px;border: 0;background-color: #FF7300;font-weight: bold;}

/*ÁÐ±í*/
.yjcode .newslist{float:left;width:1150px;margin:10px 0 0 0;padding:0 0 15px 0;text-align:left;}
.yjcode .newslist .left{float:left;width:848px;border:#CCCCCC solid 1px;padding:0 0 10px 0;}
.yjcode .newslist .left .list{float:left;font-size:14px;width:828px;text-align:left;margin:10px 0 0 10px;}
.yjcode .newslist .left .list li{float:left;height:24px;padding-top:2px;}
.yjcode .newslist .left .list .l1{width:668px;}
.yjcode .newslist .left .list .l1 a{color:#0B3B8C;}
.yjcode .newslist .left .list .l1 a:hover{color:#CC0000;}
.yjcode .newslist .left .list .l2{width:160px;text-align:right;color:#999;}
.yjcode .newslist .left .list .l3{width:828px;border-top:#ADADAD dotted 1px;margin:5px 0 0 0;height:15px;padding:0;}
.yjcode .newslist .left .npa{margin-right:10px;}
.yjcode .newslist .right{float:left;margin:0 0 0 10px;width:290px;}
.yjcode .newslist .right .nty{float:left;width:288px;border:#ccc solid 1px;text-align:left;padding:0 0 10px 0;}
.yjcode .newslist .right .nty a{float:left;color:#fff;width:83px;margin:10px 0 0 10px;text-align:center;padding:7px 0 0 0;height:19px;background-color:#DF5900;}
.yjcode .newslist .right .nty .a1{color:#FEE602;background-color:#912224;}

.yjcode .newsmain{float:left;width:1150px;text-align:left;margin:10px 0 0 0;}
.yjcode .newsmain .left{width:848px;float:left;background-color:#fff;padding:0 0 15px 0;border:#ddd solid 1px;min-height:600px;}
.yjcode .newsmain .left .titcap{float:left;font-size:18px;width:828px;padding:20px 10px 7px 10px;text-align:center;}
.yjcode .newsmain .left .u1{float:left;padding:7px 0 6px 0;width:828px;margin:10px 0 0 10px;border-bottom:#DDDDDD dotted 1px;background-color:#F1F8FE;border-top:#DDDDDD dotted 1px;}
.yjcode .newsmain .left .u1 li{float:left;}
.yjcode .newsmain .left .u1 .l1{width:708px;text-align:center;color:#999;}
.yjcode .newsmain .left .u1 .l2{color:red;font-weight:700;width:120px;cursor:pointer;}
.yjcode .newsmain .left #newm{float:left;margin-right:10px;width:838px;}
.yjcode .newsmain .left #newm img{position:absolute;margin:0 0 0 698px;}
.yjcode .newsmain .left .zytad{float:left;margin:0 0 0 10px;}
.yjcode .newsmain .left .zhaiy{float:left;margin:10px 0 0 10px;width:806px;background-color:#F7F7F7;border:#DADADA dotted 1px;border-top:#1E6FC1 dotted 2px;line-height:20px;padding:6px 10px 5px 10px;color:#666;}
.yjcode .newsmain .left .ntxt{float:left;font-size:14px;line-height:25px;padding:20px;width:808px;}
.yjcode .newsmain .left .ntxt img{max-width:750px;}
.yjcode .newsmain .left .txtpage{float:left;margin:0 0 0 10px;width:828px;text-align:center;padding:15px 0 15px 0;font-family:Arial, Helvetica, sans-serif;}
.yjcode .newsmain .left .txtpage a{border:#ddd solid 1px;padding:10px;}
.yjcode .newsmain .left .txtpage a:hover{text-decoration:none;background-color:#62A6EA;color:#fff;}
.yjcode .newsmain .left .txtpage strong{padding:10px;color:red;}
.yjcode .newsmain .left .nxg{float:left;margin:15px 0 0 0;width:828px;font-size:14px;padding:10px 10px 7px 10px;line-height:25px;background-color:#F8F8F8;border-top:#E4E4E4 solid 1px;border-bottom:#E4E4E4 solid 1px;}
.yjcode .newsmain .left .nxg a{font-weight:700;color:#005BB0;}
.yjcode .newsmain .left .nxg a:hover{color:#ff6600;}
.yjcode .newsmain .left .lad{float:left;margin-left:10px;width:828px;}
.yjcode .newsmain .left .otherxg{float:left;margin:20px 0 0 10px;width:828px;border-top:#DDD dotted 1px;font-size:14px;line-height:27px;padding:10px 0 0 0;}
.yjcode .newsmain .left .otherxg strong{color:#000;}
.yjcode .newsmain .left .otherxg a{color:#3A5799;}
.yjcode .newsmain .left .otherxg a:hover{color:#ff6600;}
.yjcode .newsmain .left .otherxg span{font-size:12px;}
.yjcode .newsmain .right{float:left;margin:0 0 0 10px;width:290px;}
.yjcode .hotpro{float:left;width:288px;border:#ddd solid 1px;margin:10px 0 0 0;}
.yjcode .hotpro li{float:left;}
.yjcode .hotpro .l1{font-size:14px;font-weight:700;background:url(../img/bgcap4.gif) left  top repeat-x;height:23px;width:278px;padding:9px 0 0 10px;}
.yjcode .hotpro .l2{width:278px;padding:5px 5px 0 5px;height:61px;line-height:18px;border-top:#dddddd dotted 1px;}
.yjcode .hotpro .l2 img{border:#ddd solid 1px;padding:2px;margin:0 8px 0 0;}
.yjcode .hotpro .l2 a{color:#247FBD;}
.yjcode .hotpro .l2 a:hover{color:#ff6600;}
.yjcode .hotnew{float:left;width:290px;margin:10px 0 0 0;text-align:left;}
.yjcode .hotnew .u1{float:left;width:290px;}
.yjcode .hotnew .u1 li{float:left;}
.yjcode .hotnew .u1 .l1{width:90px;font-size:16px;height:30px;border-bottom:#CB0000 solid 2px;}
.yjcode .hotnew .u1 .l2{width:200px;font-size:14px;height:30px;border-bottom:#ddd solid 1px;text-align:right;}
.yjcode .hotnew .u2{float:left;width:288px;border:#ccc solid 1px;border-top:0;}
.yjcode .hotnew .u2 li{float:left;}
.yjcode .hotnew .u2 .l1{width:22px;padding:6px 0 0 5px;height:20px;}
.yjcode .hotnew .u2 .l1 span{float:left;padding-top:1px;width:16px;color:#666;height:14px;background-color:#DDDDDB;text-align:center;}
.yjcode .hotnew .u2 .l1 .s1{background-color:#EB322F;color:#fff;}
.yjcode .hotnew .u2 .l1 .s2{background-color:#EB322F;color:#fff;}
.yjcode .hotnew .u2 .l1 .s3{background-color:#EB322F;color:#fff;}
.yjcode .hotnew .u2 .l2{padding:7px 0 0 0;height:19px;width:261px;}

